<div style="background-color:#bf283c;">
    <p style="color:DarkTurquoise;font-size:1px"> |
    </p>
    </p>
    <p style="color:DarkTurquoise;font-size:1px"> |
    </p>
    <h1 style="color:White;font-family:'Arial';font-size:30px"><center>Lending Club Case Study</center></h1>
    </p>
    <p style="color:DarkTurquoise;font-size:1px"> |
    </p>
    <p style="text-align:left;font-family:'Courier New';color:FloralWhite;font-size:16px"> | PGP in Machine Learning and AI |
        <span style="float:right;font-family:'Courier New';color:White;font-size:16px"> | In partner with UpGrad platform |
        </span>
    </p>
    <p style="color:DarkTurquoise;font-size:1px"> |
    </p>
</div>

----

# Table of contents:
1. [**Case Study Overview**](#1.-Case-Study-Overview)
  + 1.1. [Introduction](#1.1-Introduction:)
  + 1.2. [Business Understanding](#1.2-Business-Understanding:)
  + 1.3. [Business Usecase](#1.3-Business-Usecase:)
  + 1.4. [Software requirements](#1.4-Software-requirements:)
  + 1.5. [Business Objectives](#1.5-Business-Objectives:)


2. [**Explore Data**](#2.-Explore-Data) 
  + 2.1. [Load Data](#1.1-Gather-data-from-web:)
  + 2.2. [Data Dictionary](#1.2-Dictionary-Exploration:)
  + 2.3. [Dataset Exploration](#1.4-Dataset-Exploration:)

<img src="" />

---

## 1. `Case Study Overview`
=================================

  + 1.1. [Introduction](#1.1-Introduction:)
  + 1.2. [Business Understanding](#1.2-Business-Understanding:)
  + 1.3. [Business Usecase](#1.3-Business-Usecase:)
  + 1.4. [Software requirements](#1.4-Software-requirements:)
  + 1.5. [Business Objectives](#1.5-Business-Objectives:)

### <ins>[1](#1.-Case-Study-Overview).1 Introduction:</ins>

<p style='text-align: justify;'>
Goal of this Case Study is to gain an industry experience on how real business problems are solved using EDA (Exploratory Data Analysis). In this case study, apart from applying the techniques in EDA, also developed a basic understanding of Risk Analytics in Banking and Financial Services and understand how data is used to minimise the risk of losing money while lending to customers.
</p>

### <ins>[1](#1.-Case-Study-Overview).2 Business Understanding:</ins>

<p style='text-align: justify;'>
This case study comes from a consumer finance company which specialises in lending various types of loans to urban customers. When the company receives a loan application, the company has to make a decision for loan approval based on the applicant’s profile. Two types of risks are associated with the bank’s decision:
</p>

1. If the applicant is likely to repay the loan, then not approving the loan results in a loss of business to the company
2. If the applicant is not likely to repay the loan, i.e. he/she is likely to default, then approving the loan may lead to a financial loss for the company

<p style='text-align: justify;'>
The dataset provided contains information about past loan applicants and whether they ‘defaulted’ or not. The aim is to identify patterns which indicate if a person is likely to default, which may be used for taking actions such as denying the loan, reducing the amount of loan, lending (to risky applicants) at a higher interest rate, etc.
</p>

<p style='text-align: justify;'>
This case study, leveraged the EDA techniques to understand how consumer attributes and loan attributes influence the tendency of default.
</p>

### <ins>[1](#1.-Case-Study-Overview).3 Business Usecase:</ins>

<img src="" />

<p style='text-align: justify;'>
When a person applies for a loan, there are two types of decisions that could be taken by the company:
</p>

1. **Loan accepted:** If the company approves the loan, there are 3 possible scenarios described below:

    + **Fully paid:** Applicant has fully paid the loan (the principal and the interest rate)
    + **Current:** Applicant is in the process of paying the instalments, i.e. the tenure of the loan is not yet completed. These candidates are not labelled as 'defaulted'.
    + **Charged-off:** Applicant has not paid the instalments in due time for a long period of time, i.e. he/she has defaulted on the loan.
    

2. **Loan rejected:** The company had rejected the loan (because the candidate does not meet their requirements etc.). Since the loan was rejected, there is no transactional history of those applicants with the company and so this data is not available with the company (and thus in this dataset)

### <ins>[1](#1.-Case-Study-Overview).4 Software requirements:</ins>

<p style="text-align:justify">
This case study uses `Python 3.10` version and is designed to be compatible with versions greater than '3.6'. It is highly recommended that you use the `Anaconda` distribution to install Python, since the distribution includes all necessary Python libraries as well as Jupyter Notebooks. The following libraries are expected to be used in this project:
</p>

+ NumPy
+ Pandas
+ Matplotlib
+ Seaborn
+ Math
+ Conda
+ Git
+ Jupyter Notebook

**NOTE:**

<p style="text-align:justify">An <mark>environment.yaml</mark> file is provided to install all the necessary libraries in the environment to replicate the same work flow.</p>

### <ins>[1](#1.-Case-Study-Overview).5 Business Objectives:</ins>

<p style="text-align:justify">
This company is the largest online loan marketplace, facilitating personal loans, business loans, and financing of medical procedures. Borrowers can easily access lower interest rate loans through a fast online interface. Like most other lending companies, lending loans to ‘risky’ applicants is the largest source of financial loss (called credit loss). Credit loss is the amount of money lost by the lender when the borrower refuses to pay or runs away with the money owed. In other words, borrowers who default cause the largest amount of loss to the lenders. In this case, the customers labelled as 'charged-off' are the 'defaulters'. 
</p>
 
<p style="text-align:justify">
If one is able to identify these risky loan applicants, then such loans can be reduced thereby cutting down the amount of credit loss. Identification of such applicants using EDA is the aim of this case study. In other words, the company wants to understand the driving factors (or driver variables) behind loan default, i.e. the variables which are strong indicators of default.  The company can utilise this knowledge for its portfolio and risk assessment. 
</p>

<div>
    <p style="text-align:center;font-family:'Courier New';font-size:14px">-------- End of section <mark>1. Case Study Overview</mark> --------
    </p>
</div>

----

## 2. `Explore Data`
======================

  + 2.1. [Load Libraries](#2.1-Load-Libraries:)
  + 2.2. [Load Data](#2.2-Load-Data:)
  + 2.2. [Data Dictionary](#2.2-Dictionary-Exploration:)
  + 2.3. [Dataset Exploration](#2.3-Dataset-Exploration:)

### <ins>[2](#2.-Explore-Data).1 Load Libraries:</ins>

Load relevant libraries at this section to ease the maintainance and tracking.

In [19]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
import traceback

### <ins>[2](#2.-Explore-Data).2 Load Data:</ins>

Import data dictionary to understand the variables:

In [52]:
# import data dictionary
try:
    info_df = pd.read_excel('Data_Dictionary.xlsx')
    print('Data Load: Successful')
except Exception:
    traceback.print_exc()
    print('Data Load: Failure')

Data Load: Successful

Import loan dataset:

In [53]:
# import data dictionary
try:
    loan_df = pd.read_csv('loan.csv', delimiter = ',')
    print('Data Load: Successful')
except Exception:
    traceback.print_exc()
    print('Data Load: Failure')

Data Load: Successful

### <ins>[2](#2.-Explore-Data).3 Understand Variables:</ins>

Check the shape of the excel file loaded as the dataframe.

In [22]:
info_df.shape

(117, 11)

<ins> Visually inspect the data dictionary </ins>

+ Diaplay the first 5 rows in the dataset:

In [25]:
info_df.head()

,LoanStatNew,Description,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,acc_now_delinq,The number of accounts on which the borrower i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,acc_open_past_24mths,Number of trades opened in past 24 months.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,addr_state,The state provided by the borrower in the loan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,all_util,Balance to credit limit on all trades,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,annual_inc,The self-reported annual income provided by th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

+ Display the bottom 5 rows in the dataset:

In [26]:
info_df.tail()

,LoanStatNew,Description,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
112,verification_status,"Indicates if income was verified by LC, not ve...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,verified_status_joint,Indicates if the co-borrowers' joint income wa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,zip_code,The first 3 numbers of the zip code provided b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,* Employer Title replaces Employer Name for al...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

+ List the columns in the data.

In [29]:
info_df.columns

Index(['LoanStatNew', 'Description', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10'],
      dtype='object')

The dataset contains redundant data. Filter and explore only the relevent information to understand the variables.

In [36]:
info_df[['LoanStatNew', 'Description']].style

<p style="text-align:justify">
The customer behavior variables are not available at the time of loan application, and thus they cannot be used as predictors for credit approval.
Variables such as 'acc_now_delinquent', 'chargeoff within 12 months' etc. (which are related to the applicant's past loans) are available from the credit bureau.
</p>

> The customer behavior variables are not available at the time of loan application, and thus they cannot be used as predictors for credit approval. Hence it is safe to remove customer behavior variables from the analysis.

**Dependent/Target Variable:** `loan_status`

**Important independent variables:**
From the Data Dictionary it can be inferred that below are some of the important columns in the dataset :
+ Loan_amt
+ Term
+ Interest_rate
+ Grade
+ SubGrade
+ Annual Income
+ Purpose of loan
+ DTI (Debt to Income)
+ Emp_Length
+ Loan_Date(Month)
+ Home_Ownership
+ Verification_Status


**Approach:** 
Compare the target variable with the independent variables to understand which variables have the most impact on the outcome (loan to become default). Plot the trends and understand the insights from the patterns.

### <ins>[2](#2.-Explore-Data).3 Understand Dataset:</ins>

Check the shape of the dataset.

In [54]:
loan_df.shape

(39717, 111)

Display the vairiables/columns in the dataset along with its datatypes.

In [142]:
pd.DataFrame(loan_df.dtypes).reset_index().rename(columns={'index': 'variable', 0: 'datatype'}).style

<p style="text-align:justify">
The number of variables in the loan dataset is 111, while the number of variables explained in the data dictionary are 114. Thereappears to be some missing variables in the dataset compared to data dictionary. Let us filter the missing variables to understand them.
</p>

In [74]:
# identify the missing variables in loan dataset as to data dictionary
info_variables = list(info_df['LoanStatNew'].values)

missing_variables = []

for variable in des:
    if variable in loan_df.columns:
        pass
    else:
        missing_variables.append(variable)
        
# display the identified missing variables
filter = info_df['LoanStatNew'].isin(missing_variables)
info_df[filter][['LoanStatNew', 
                 'Description']].style.set_caption("Missing variables in the 'loan' dataset while listed in 'data dictionary':")

<ins> Visually inspect the dataset</ins>

+ Diaplay the first 5 rows in the dataset:

In [75]:
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

+ Diaplay the bottom 5 rows in the dataset:

In [77]:
loan_df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

+ Draw a random sample of 10 rows in the dataset:

In [83]:
loan_df.sample(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
29055,527996,682902,12250,12250,12080.21886,36 months,7.51%,381.11,A,A4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
18303,699725,891328,1000,1000,1000.00000,36 months,10.00%,32.27,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2740,1032418,1261855,1000,1000,1000.00000,36 months,15.96%,35.14,C,C5,...,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN
30650,504995,650505,3600,3600,3600.00000,36 months,9.88%,115.96,B,B1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
13894,774258,976419,6800,6800,6800.00000,60 months,18.39%,174.13,E,E2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
25131,589422,757198,12000,12000,11761.00426,60 months,16.82%,297.08,E,E2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
30516,507026,653857,25000,25000,24290.09816,36 months,12.73%,839.16,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
10531,831291,1040501,20000,20000,19950.00000,60 months,13.99%,465.27,C,C3,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
264,1066140,1300296,6000,6000,6000.00000,36 months,7.90%,187.75,A,A4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2018,1041816,1271852,15000,15000,14975.00000,60 months,17.27%,374.97,D,D3,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [96]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

Display the heat map of the dataset.

> The heat map is the color representation of distribution of value in a variable with dark shade being the larger value and light shade being the lower value in the distribution.

As cited in the [2.3 Understand Variables](#2.3-Understand-Variables:), customer behaviour variables can be dropped from the analysis.

In [93]:
# remove customer behavior variables from the analysis
behavior_variables = np.array(['delinq_2yrs', 
                      'earliest_cr_line',
                      'inq_last_6mths',
                      'open_acc',
                      'pub_rec',
                      'revol_bal',
                      'revol_util',
                      'total_acc',
                      'out_prncp',
                      'out_prncp_inv',
                      'total_pymnt',
                      'total_pymnt_inv',
                      'total_rec_prncp',
                      'total_rec_int',
                      'total_rec_late_fee',
                      'recoveries',
                      'collection_recovery_fee',
                      'last_pymnt_d',
                      'last_pymnt_amnt',
                      'last_credit_pull_d',
                      'application_type'
                     ])

loan_df.drop(columns=behavior_variables, axis = 1).shape

(39717, 90)

In [95]:
loan_df.shape

(39717, 111)

In [251]:
def programmatic_assessment(df):
    '''
    Returns a dataframe with variables as null counts, duplicate counts, and descriptive statistics of each variable/column in the input dataframe.
    
    Input args:
    df = dataframe
    
    output args:
    df = dataframe tabulating statistics of each variable.
    '''
    cols = df.columns
    assess_df = pd.DataFrame()
    
    for i, col in enumerate(cols):
        assess_df.loc[i, 'variable'] = col
        assess_df.loc[i, 'datatype'] = df[col].dtype
        assess_df.loc[i, 'null_count'] = df[col].isna().sum()
        assess_df.loc[i, 'duplicate_count'] = df[col].duplicated().sum()
        assess_df.loc[i, 'count'] = df[col].describe()['count']

        # tabulate descriptive statistics for numerical variable
        if df[col].dtype in ['int64', 'float64']:
            assess_df.loc[i, 'mean'] = df[col].describe()['mean']
            assess_df.loc[i, 'std'] = df[col].describe()['std']
            assess_df.loc[i, 'min'] = df[col].describe()['min']
            assess_df.loc[i, '25%'] = df[col].describe()['25%']
            assess_df.loc[i, '50%'] = df[col].describe()['50%']
            assess_df.loc[i, '75%'] = df[col].describe()['75%']
            assess_df.loc[i, 'max'] = df[col].describe()['max']
        
        # tabulate descriptive statistics for categorical variable
        elif df['grade'].dtype in ['O']:
            assess_df.loc[i, 'unique'] = df[col].describe()['unique']
            assess_df.loc[i, 'top'] = df[col].describe()['top']
            assess_df.loc[i, 'freq'] = df[col].describe()['freq']
    
    return assess_df

In [252]:
def highlight_positives(x, color):
    '''
    highlight values greater than 0 in the input column of the dataframe.
    
    input args:
    color: color of the text to be displayed.
    '''
    return np.where(x > 0, f"color: {color};", None)

In [253]:
assess_df = programmatic_assessment(loan_df)

In [254]:
assess_df.style.apply(highlight_positives, color='red', axis=1, subset="null_count")

<p style='text-align: justify;'>
Programmatic assessment of the loan_df dataframe reflects that there exists null values in several variables/columns. As part of data wraangling, it is good practice to drop the columns with null values percentage greater than 70.
</p>

### Data Cleaning

+ remove cols with nulls more than 70%

In [260]:
loan_df.shape

(39717, 111)

In [264]:
null_pcnt_filter = ((loan_df.isna().sum() / loan_df.shape[0]) * 100) > 70
cols_to_drop = loan_df.columns[null_pcnt_filter]
loan_df.drop(cols_to_drop, axis=1, inplace=True)

In [265]:
loan_df.shape

(39717, 55)

In [266]:
assess_df = programmatic_assessment(loan_df)

In [288]:
assess_df['null_pcnt'] = assess_df['null_count'].apply(lambda x: (x/loan_df.shape[0])*100 )

In [307]:
def highlight_values(x, color, threshold):
    '''
    highlight values greater than 0 in the input column of the dataframe.
    
    input args:
    color: color of the text to be displayed.
    threshold: value greater than which displayed in the specified color.
    '''
    return np.where(x > threshold, f"color: {color}; background-color: lightyellow", None)

In [310]:
# filter variables with null_count greater than zero, sort them by descending order, and highlight the null count in red color 
assess_df[['variable',
           'null_count', 
           'null_pcnt']][assess_df['null_count']>0].sort_values(by=['null_count'], 
                                                                ascending=False).style.apply(highlight_values, 
                                                                                             color='red',
                                                                                             threshold=10,
                                                                                             axis=1, 
                                                                                             subset="null_pcnt")

In [324]:
# filter variables with null_count greater than zero, sort them by descending order, and highlight the null count in red color 
assess_df[['variable',
           'null_count', 
           'null_pcnt']][assess_df['null_count']>0].sort_values(by=['null_count'], 
                                                                ascending=False).style.apply(lambda row: np.repeat('color: gray' if row['null_pcnt']<10 else 'color: red; background-color: lightyellow', row.shape[0]), axis=1)

In [355]:
# filter variables with null_count greater than zero, sort them by descending order
null_count_df = assess_df[['variable', 
                           'null_count', 
                           'null_pcnt']][assess_df['null_count']>0].sort_values(by=['null_count'], 
                                                                                ascending=False)

# import 'description' variable from 'info_df' dataframe
null_count_df['description'] = null_count_df['variable'].apply(lambda x: info_df[info_df['LoanStatNew'] == x]['Description'].values[0])

# highlight the null count in red color if the percentage of null_count is greater than 10% and fade otherwise in grey color
null_count_df.style.apply(lambda row: np.repeat('color: gray' 
                                                    if row['null_pcnt']<10 
                                                    else 'color: red; background-color: lightyellow', 
                                                row.shape[0]), 
                          axis=1)

**Observations:**

> + `mths_since_last_delinq` <p style='text-align: justify;'> is a behviour variable which can be dropped from the ananlysis as it not available during the approval of loan and can only be generated post approval of loan based on customer behaviour. </p>
>
> + `desc`<p style='text-align: justify;'> variable contains 33% of nulls values. As the values are of string datatype, valuable insights can be extracted using text analytics and Natural Language Processing techniques. However, it is out of scope for this case study and hence can be dropped from the analysis. </p>
> + <p style='text-align: justify;'> Remaining specified columns has minor number of null values which can be ignored or dealth with in the further analysis upon requirement. It is advisable to ignore null values as imputatioin might introduce bias, change the distribution of the values, and infer the stats by altering it's true statistical significance. The missing values can also be replace based on a prediction model however, it is out of scope for this case study. Since we have good amount of data and the data loss would be really low, we can also remove the entries/rows related to these missing values.</p>

In [359]:
# drop the specified columns from the dataframe
loan_df.drop(['mths_since_last_delinq', 'desc'], axis=1, inplace = True)

In [381]:
info_df[info_df['LoanStatNew'].isin(loan_df.columns)][['LoanStatNew', 
                                                       'Description']].sort_values(by=['LoanStatNew']).reset_index(drop=True).style

In [380]:
assess_df[assess_df['variable'].isin(loan_df.columns)].sort_values(by=['variable']).reset_index(drop=True).style

+ `addr_state`, `zip_code` are a demographic variables which cannot be used to make any inferences on the current application.
+ `url`, `title` has redundant information and hence dropped from the analysis.
+ `collection_recovery_fee`,`collections_12_mths_ex_med`,`delinq_2yrs`,`delinq_amnt` are customer behavior variable not available during the application and hence can be removed from the analysis.